USE [ActivityDB]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[description] [text] NULL,
	[default_fee] [numeric](10, 2) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityTrainers]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTrainers](
	[activity_id] [int] NOT NULL,
	[trainer_id] [int] NOT NULL,
	[role] [varchar](20) NULL,
 CONSTRAINT [pk_activity_trainers] PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC,
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[enrollment_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[marked_at] [datetime] NOT NULL,
	[marked_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_attendance_session_enrollment] UNIQUE NONCLUSTERED 
(
	[session_id] ASC,
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[activity_id] [int] NOT NULL,
	[fee_plan_id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[capacity] [int] NULL,
	[location] [varchar](150) NULL,
	[status] [varchar](30) NOT NULL,
 CONSTRAINT [PK__batches__DBFC0431A431A440] PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatchSessions]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchSessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[session_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[notes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[batch_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[enrolled_on] [date] NOT NULL,
	[status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_enrollments_batch_student] UNIQUE NONCLUSTERED 
(
	[batch_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeePlans]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeePlans](
	[fee_plan_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[billing_type] [varchar](20) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[currency] [char](3) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fee_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[enrollment_id] [int] NOT NULL,
	[invoice_date] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[org_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[city] [varchar](100) NULL,
	[zip] [varchar](20) NULL,
	[state] [varchar](50) NULL,
	[phone] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[active] [bit] NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK__Organiza__F6AD80124DAFC41B] PRIMARY KEY CLUSTERED 
(
	[org_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[invoice_id] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[method] [varchar](20) NOT NULL,
	[reference_no] [varchar](100) NULL,
	[notes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_roles_org_name] UNIQUE NONCLUSTERED 
(
	[org_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[dob] [date] NULL,
	[guardian_name] [varchar](150) NULL,
	[guardian_phone] [varchar](20) NULL,
	[guardian_email] [varchar](150) NULL,
	[notes] [text] NULL,
	[active] [bit] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__students__2A33069AD02B3CE4] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[trainer_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[hire_date] [date] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/9/2026 6:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[org_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [varchar](500) NULL,
	[active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[last_login_at] [datetime] NULL,
 CONSTRAINT [PK__Users__B9BE370F5B11D672] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__AB6E6164FA203D37] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [marked_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [enrolled_on]
GO
ALTER TABLE [dbo].[FeePlans] ADD  DEFAULT ('USD') FOR [currency]
GO
ALTER TABLE [dbo].[FeePlans] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [invoice_date]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__is_active__14270015]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__created_a__151B244E]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [fk_activities_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [fk_activities_category]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [fk_activities_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [fk_activities_org]
GO
ALTER TABLE [dbo].[ActivityTrainers]  WITH CHECK ADD  CONSTRAINT [fk_activity_trainers_activity] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[ActivityTrainers] CHECK CONSTRAINT [fk_activity_trainers_activity]
GO
ALTER TABLE [dbo].[ActivityTrainers]  WITH CHECK ADD  CONSTRAINT [fk_activity_trainers_trainer] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainers] ([trainer_id])
GO
ALTER TABLE [dbo].[ActivityTrainers] CHECK CONSTRAINT [fk_activity_trainers_trainer]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [fk_attendance_enrollment] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollments] ([enrollment_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [fk_attendance_enrollment]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [fk_attendance_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[BatchSessions] ([session_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [fk_attendance_session]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [fk_batch_fee_plan] FOREIGN KEY([fee_plan_id])
REFERENCES [dbo].[FeePlans] ([fee_plan_id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [fk_batch_fee_plan]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [fk_batches_activity] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [fk_batches_activity]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [fk_batches_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [fk_batches_org]
GO
ALTER TABLE [dbo].[BatchSessions]  WITH CHECK ADD  CONSTRAINT [fk_batch_sessions_batch] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[BatchSessions] CHECK CONSTRAINT [fk_batch_sessions_batch]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [fk_enrollments_batch] FOREIGN KEY([batch_id])
REFERENCES [dbo].[Batches] ([batch_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [fk_enrollments_batch]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [fk_enrollments_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [fk_enrollments_org]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [fk_enrollments_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [fk_enrollments_student]
GO
ALTER TABLE [dbo].[FeePlans]  WITH CHECK ADD  CONSTRAINT [fk_fee_plans_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[FeePlans] CHECK CONSTRAINT [fk_fee_plans_org]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [fk_invoices_enrollment] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollments] ([enrollment_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [fk_invoices_enrollment]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [fk_invoices_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [fk_invoices_org]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [fk_payments_invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [fk_payments_invoice]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [fk_payments_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [fk_payments_org]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [fk_roles_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [fk_roles_org]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [fk_students_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [fk_students_org]
GO
ALTER TABLE [dbo].[Trainers]  WITH CHECK ADD  CONSTRAINT [fk_trainers_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Trainers] CHECK CONSTRAINT [fk_trainers_org]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_users_org] FOREIGN KEY([org_id])
REFERENCES [dbo].[Organizations] ([org_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_users_org]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_users_role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Planned,Running,completd,Cancelled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Batches', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Scheduled,Completed,Cancelled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BatchSessions', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Admin,Staff,Trainer,Parent' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Roles', @level2type=N'COLUMN',@level2name=N'name'
GO
